@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ff6f61;
    background-color: #f9f9f9;
  }
  